In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#importing all the data
user_df=pd.read_csv("/content/User data.csv")
movie_df=pd.read_csv("/content/movie_data.csv", encoding = "ISO-8859-1")
ratings_df=pd.read_csv("/content/Ratings.csv")

In [ ]:
user_df.head()

In [ ]:
movie_df.head()

In [ ]:
#replacing the title of ITEM ID with MOVIE ID
ratings_df.rename(columns={"ITEM ID":"MOVIE ID"},inplace= True)

In [ ]:
movie_df.columns

In [ ]:
#making a dataframe of only the genres of the movie for finding cosine similarity based on genre 
movieg_df=movie_df[['UNKNOWN', 'ACTION',
       'ADVENTURE', 'ANIMATION', "CHILDREN'S", 'COMEDY', 'CRIME',
       'DOCUMENTARY', 'DRAMA', 'FANTASY', 'FILM-NOIR', 'HORROR', 'MUSICAL',
       'MYSTERY', 'ROMANCE', 'SCI-FI', 'THRILLER', 'WAR', 'WESTERN']]

In [ ]:
#suppose the user has seen the movie Get Shorty, we get the index of that movie
userwatch="12 Angry Men"
i=movie_df["MOVIE TITLE"][movie_df["MOVIE TITLE"]==userwatch].index[0]
i

177

In [ ]:
#finding the cosine similarity wrt to the movie watched by user and storing in an array
from sklearn.metrics.pairwise import cosine_similarity
sim=cosine_similarity(movieg_df,movieg_df.loc[[i]])
sim=sim.reshape(1, -1) #reshaping the array from (n,1) to (1,n)
sim=sim[0] # selecting only the 1st row and changing the 2D array to 1D array
print(sim)

[0.         0.         0.         ... 0.70710678 0.         1.        ]

In [ ]:
recom=sim.argsort()[::-1][1:15] #sorting the similarity array in descending order and returning the top 6(excluding itself)
display(movie_df.loc[recom][["MOVIE ID","MOVIE TITLE"]])

      MOVIE ID                                  MOVIE TITLE
374        375                                    Showgirls
966        967                       Little Lord Fauntleroy
1358      1359                               Boys in Venice
961        962                             Ruby in Paradise
960        961                                      Orlando
959        960                                        Naked
957        958                             To Live (Huozhe)
955        956                                Nobody's Fool
1367      1368                              Mina Tannenbaum
1368      1369  Forbidden Christ, The (Cristo proibito, Il)
949        950                                      Georgia
148        149                                         Jude
1374      1375                           Cement Garden, The
1324      1325                                       August